.page{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 10px;
}
html{
    overflow-x: hidden;
    overflow-y:hidden;
}
.card{
    /* border:2px dashed black; */
    padding:20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width:40%;
    height: 60%;
}
* {
    box-sizing: border-box;
  }
  
.text{
    
    text-align: left;
}
.inner{
    text-align: left;
}
img{
    max-width: fit-content;
    width:99%;
    display: block;
border-radius: 20px;

}

.Hidden{
    display: none;
}

.card:hover{
    box-shadow: 0px 0px 2px black;
        transform: scale(1.01);
        transform: translate3D(1.1);
        backdrop-filter: sepia(90%);
        -webkit-box-shadow:0px 0px 60px 14px rgba(255,166,246,0.9);
        -moz-box-shadow: 0px 0px 60px 14px rgba(255,166,246,0.9);
        box-shadow: 0px 0px 60px 14px rgba(255,166,246,0.9);
    
   
    .Hidden{
        display: block;
    }
}